/* Resets */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body and Main Container */

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tic Tac Toe Grid */

.grid {
    margin: 5rem;
    width: 75rem;
    height: 75rem;
    display: grid;
    grid-template: repeat(3, minmax(250px, 1fr)) / repeat(3, minmax(250px, 1fr));
    place-items: center;
}

.grid__cell {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.grid__cell[data-row="1"] {
    border-top: 1px solid black;
}

.grid__cell[data-col="1"] {
    border-left: 1px solid black;
}

/* Modal Window & Form */

.modal {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    background-color: white;
}

.modal__window {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__prompt {
    height: 40rem;
    width: 40rem;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 4rem;
    gap: 2rem;
    border: 1px solid black;
    border-radius: 15px;
}

.modal__title {
    font-size: 3.2rem;
}

.label-box {
    display: flex;
    gap: 1rem;
}

.modal__label {
    font-size: 1.6rem;
}

.modal__input {
    font-size: 1.4rem;
}

.submit-btn {
    align-self: flex-end;
}

.start-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 10rem;
    width: 15rem;
}

.btn {
    height: 2.5rem;
    width: 7rem;
}